body {
    background-color: lavenderblush;
    font-family: Arial;
}

form {
    background-color: white;
    border: 1px solid pink;
}

label {
    color: hotpink;
}

input {
    border: 1px solid pink;
}

button {
    background-color: pink;
    color: white;
}

button:hover {
    background-color: deeppink;
}

.preview {
    background-color: white;
    border: 1px solid pink;
}
